meta(charset='UTF-8')
meta(name='viewport', content='width=device-width,initial-scale=1')
title BookShop

header
  nav.navigation
    img.navigation_logo_start(src='./img/Bookshop.png', alt='logo')
    ul.menu
      li.menu_item BOOKS
      li.menu_item AUDIOBOOKS
      li.menu_item STATIONERY & GIFTS
      li.menu_item BLOG
    .icon_nav
      img.navigation_logo_end(src='/img/user.png', alt='user icon')
      img.navigation_logo_end(src='/img/search.png', alt='search')
      img.navigation_logo_end.basket(src='/img/shop bag.png', alt='basket')
      .number-busket
section.slider
  .images
  a.block1
    p
      | CHANGE
      br
      | OLD BOOK
      br
      | ON NEW
    img(src='/img/arrow.png', alt='row')
  a.block2
    p
      | TOP
      br
      | 100
      br
      | BOOKS
      br
      | 2022
    img(src='/img/arrow.png', alt='row')
.dots_slider
section.section_books
  .books_card
  .books_category
    ul.category_list
      li.category.category-active Architecture
      li.category Art & Fashion
      li.category Biography
      li.category Business
      li.category Crafts & Hobbies
      li.category Drama
      li.category Fiction
      li.category Food & Drink
      li.category Health & Wellbeing
      li.category History & Politics
      li.category Humor
      li.category Poetry
      li.category Psychology
      li.category Science
      li.category Technology
      li.category Travel & Maps
.content-load
  button.button-load LOAD MORE
