@font-face {
    font-family: "OpenSans";
    src: local("OpenSans"),
    url('/src/fonts/OpenSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Montserrat";
    src: local("Montserrat"),
    url('/src/fonts/Montserrat-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}